 
 /* body{
   background-image: url("/1.jpg");
   background-size: 1400px  920px;
   background-repeat: no-repeat;
 } 
  */
 
 /* h4{
    background-color: blue;
    width: 30%;
    color: white;
    text-align: center;
 }
 .ul{
    background-color: blueviolet;
    font-size: 45px;
 }

.myname {
   border: 2px solid black;
   width: 10%;
   padding: 5px;
   background-color: aquamarine;
   outline: 10px solid salmon;



}
.myname p{
   text-align: center;
   font-size: 18px;
   color: black;
   
} */
